.block-five {
    padding: 50px 0 0px 0;
}

.block-five__container {}

.block-five__title {
    flex: 1 0 auto;
    max-width: 800px;
}

.block-five__cards {}

.block-five__card {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 40px;
}

.block-five__card-img {
    position: relative;
    padding: 0 0 100% 0;
    margin-bottom: 28px;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.block-five__card-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.block-five__card-text {
    text-align: center;
}

.block-five__card-name {
    margin-bottom: 6px;
    font-weight: 600;
    line-height: 120%;
    font-size: 24px;
}

.block-five__card-description {
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 20px;
}

.block-five__card-btn {
    background-color: transparent;
    font-weight: 500;
    font-size: 16px;
    color: rgb(48, 87, 162);
    padding: 12px;
    cursor: pointer;
    border: 2px solid rgb(48, 87, 162);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    user-select: none;
}

.swiper .block-five__swiper-container {
    /* padding: 20px 0 20px 0; */
    position: relative;

}

.s-wrap .swiper-wrapper {}

.swiper-slide {
    /* padding: 100px 0; */
}

.block-five__flex .none-block {
    display: none;
}

.swiper-pagination-5 {
    /* position: static; */
    height: 20px;
    /* position: relative; */
}

.block-five__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
    position: relative;
}

.bp,
.bn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex: 0 0 36px;
    width: 36px;
    height: 36px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    position: relative;
    z-index: 20;
    background-color: var(--black);
    opacity: 1;
}

.bn {
    margin: 0 10px;
}

.bp {
    margin-right: 10px;
}

.bn svg {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.swiper-pagination-fraction {
    position: relative;

    width: 30%;
    bottom: 0;
}

.sl-btn-five {
    /* position: absolute;
    right: 0;
    top: 20%; */
    /* flex: 1 0 120px; */
    display: flex;
    justify-content: space-between;
}

.block-five__card-btn:hover {
    background-color: rgb(48, 87, 162);
    color: rgb(255, 255, 255);
}

.mt {
    margin-top: 100px;
}

@media (max-width: 845.98px) {
    .block-five__flex {
        display: block;
        /* position: relative; */
    }
}

@media (max-width: 767.98px) {
    .block-five__flex {
        display: block;
        /* position: relative; */
    }

    .block-five__title {
        margin-bottom: 40px;
    }

    .sl-btn-five {
        /* position: absolute;
        right: 0;
        top: 20%; */
        /* flex: 1 0 120px; */
        display: flex;
        justify-content: space-around;


    }
}